<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

<form>
    <label>
        <input type="text" placeholder="사업자등록번호" id="registNo">
    </label>
    <button type="submit" id="btnbtn">test</button>
    <small id="ownerValid"></small>
</form>

<!-- API 호출 스크립트 -->
<script>
    var checkResult = "";
    document.getElementById('btnbtn').addEventListener('click', function(event) { // function() 안의 event 와
        event.preventDefault();                                                   // event.preventDefault(); 가 없으면 페이지의 reload가 진행되어 정상 작동이 되지 않는다.

    var check = document.getElementById('registNo').value;

    var date = {
        "b_no": [check]
    };

        $.ajax({
            url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=CWF%2BkFNyHElSTXq6Scehihm1oOVcQc%2Fa1zi8YhN5rksJCttOEMjxJNunMP0%2Fjuqlxm0MRuRlI7WTgckWd2O1DA%3D%3D",  // serviceKey 값을 xxxxxx에 입력
            type: "POST",
            data: JSON.stringify(date), // json 을 string으로 변환하여 전송
            dataType: "JSON",
            contentType: "application/json",
            accept: "application/json",
            success: function (result) {
                console.log(result);

                if (result.data && result.data.length > 0) {
                    var validResult = result.data[0].b_stt_cd;
                    console.log('b_stt_cd:', validResult);

                    // 'b_stt_cd' 값을 사용하거나 다른 작업 수행을 위해 추출 (01이 아니면 등록 거절)
                    alert('b_stt_cd: ' + validResult);
                    checkResult = validResult;
                } else {
                    console.log('No data found in the response.');
                }
            },
            error: function (result) {
                console.log(result.responseText);
            }
        });
    });
</script>




<!--
&lt;!&ndash; 파일을 서버에 업로드해서 OCR로 보내기 위한 폼 태그 &ndash;&gt;
<form id="upload"  method="post" enctype="multipart/form-data">
    <label for="fileInput">Choose image file:</label>
    <input type="file" id="fileInput" name="file" accept="image/*" required>
    <button type="submit">Upload</button>
</form>



&lt;!&ndash; OCR 호출 스크립트 &ndash;&gt;
<script>
    document.getElementById('sendRequest').addEventListener('click', () => {
    const url = 'https://clovaocr-api-kr.ncloud.com/external/v1/32965/ae43fa0909815a39a619576aff03b94bee51207695cf6066e9bf13e609f28081'; // 실제 API 경로로 변경
    const apiKey = 'rsyrxg1gz7'; // 실제 API 키로 변경
    const secretKey = 'aWlwY2NUcklodXFOb0FjUXF6bm1UYWJEV2xnU0FoSWg='; // 실제 비밀 키로 변경

    const data = {
    key1: 'value1',
    key2: 'value2'
};

    fetch(url, {
    method: 'POST',
    headers: {
    'Content-Type': 'application/json',
    'x-ncp-apigw-api-key': apiKey,
    'X-OCR-SECRET': secretKey
},
    body: JSON.stringify(data)
})
    .then(response => response.json())
    .then(data => {
    console.log('Success:', data);
})
    .catch(error => {
    console.error('Error:', error);
});
});
</script>
-->

</body>
</html>